name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Create build directory
      run: mkdir ./build    
    - name: Launch CMake
      run: cd ./build && cmake ..
    - name: Build
      run: cd ./build && make
    - name: List files
      run: ls  
